.top-wrapper{
  width: 1100px;
  padding: 180px 100px 100px 0;
  background-image: url(../img/bg.JPG);
  background-size: cover;
  color: white;
}

.container{
  width: 778px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Candara','Leelawadee UI',sans-serif;
}

.storename{
  font-size: 65px;
  text-shadow:4px 0 5px rgb(66, 66, 66);
}
.message1{
  font-size: 30px;
  text-shadow:4px 0 5px rgb(66, 66, 66);
}


.time{
  text-shadow: 4px 0 5px rgb(66, 66, 66);
  font-size: 30px;
}

.lunch img{
  width: 500x;
  height: 500px;
  margin: 100px 100px 0px 100px;
}

.lunch-message{
  float: right;
  margin: 200px 300px 100px 50px;
  font-family: 'Yu Gothic UI', sans-serif;

}

.bar img{
  width: 500x;
  height: 500px;
  margin: 0px 150px 0px 50px;
  float: right;
}

.bar-message{
  float: left;
  margin: 100px 50px 100px 250px;
  font-family: 'Yu Gothic UI', sans-serif;
}
